@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Mochiy+Pop+P+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

/* our service */

.OurService-section {
  width: 100%;
  height: fit-content;
}
.OurService-heading {
  font-size: 2.5rem;
  margin-left: 10rem;
  color: #133e87;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.services-card {
  display: grid;
  height: fit-content;
  width: 100%;
  padding-left: 10rem;
  margin-bottom: 3rem;
}

.card {
  width: 400px;
  height: 240px;
  overflow: hidden;
  box-shadow: rgba(27, 39, 102, 0.744) 0px 1px 3px 0px,
    rgba(27, 39, 102, 0.744) 0px 0px 0px 1px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin-bottom: 3rem;
}
.card-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 1rem;
}

.card h2 {
  font-size: 2.2rem;
  color: #024caa;
}
.card p {
  font-size: 2rem;
  width: 320px;
  padding-left: 2rem;
  text-align: justify;
  margin-left: 2rem;
  color: #024caa;
}

.card-head i {
  font-size: 3.5rem;
  margin-right: 2rem;
  color: #024caa;
}

.card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: all 0.8s linear;
  -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s linear;
  -ms-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  background-color: #024caa;
  & .card-head i {
    color: white;
  }
  & .card-head h2 {
    color: white;
  }
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.card p:hover {
  color: white;
}

.fa-sliders {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.heading {
  animation: zoomIn 0.8s ease-in-out;
}

/* End our service */

/* Our Service Responsive */

@media (max-width: 1285px) {
  .OurService-heading {
    margin-left: 5rem;
  }

  .services-card {
    padding-left: 5rem;
  }
  .card {
    width: 350px;
    height: 240px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1180px) {
  .services-card {
    padding-left: 3rem;
  }
  .card-head {
    margin: 1.5rem 0.5rem;
  }
  .card p {
    font-size: 1.8rem;
    width: 260px;
  }
  .card {
    width: 340px;
    height: 250px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1024px) {
  .OurService-section {
    padding: 0 5rem;
  }

  .services-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .OurService-heading {
    font-size: 2rem;
  }
  .card-head {
    margin: 1.5rem 0.5rem;
  }
  .card p {
    font-size: 1.8rem;
    width: 260px;
  }
  .card {
    width: 340px;
    height: 230px;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
}

@media (max-width: 860px) {
  .OurService-heading {
    margin-left: -1rem;
  }
  .services-card {
    margin-left: -4rem;
  }
}
@media (max-width: 800px) {
  .services-card {
    margin-left: -6rem;
  }
}

@media (max-width: 768px) {
  .OurService-section {
    padding: 0 2rem;
  }

  .OurService-heading {
    font-size: 2rem;
    text-align: center;
  }
  .services-card {
    margin-left: -1.5rem;
  }
  .card {
    width: 300px;
    height: 220px;
  }
}

@media (max-width: 768px) {
  .services-card {
    margin-left: -4rem;
  }
}

@media (max-width: 668px) {
  .services-card {
    grid-template-columns: 1fr;
    margin-left: 5rem;
  }
  .card-head {
    margin-bottom: 4rem;
  }
  .card {
    width: 400px;
    height: 250px;
  }
  .card p {
    font-size: 2rem;
    width: 320px;
  }
  .card h2 {
    font-size: 2.5rem;
  }
  .card-head {
    margin-bottom: 1rem;
  }
}

@media (max-width: 580px) {
  .services-card {
    margin-left: 1rem;
  }
  .OurService-heading h1 {
    font-size: 3.5rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 520px) {
  .services-card {
    margin-left: 2rem;
  }
  .card {
    width: 330px;
    height: 200px;
  }
  .card p {
    font-size: 1.5rem;
    width: 230px;
    margin-left: 4rem;
    padding-bottom: 4rem;
  }
  .card-head {
    margin-bottom: 0.5rem;
  }
  .card h2 {
    font-size: 2rem;
  }
  .card i {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .services-card {
    margin-left: -2.5rem;
  }
  .OurService-heading h1 {
    font-size: 3rem;
  }
}
@media (max-width: 420px) {
  .services-card {
    margin-left: -5rem;
  }
  .OurService-heading h1 {
    font-size: 3rem;
  }
}

@media (max-width: 380px) {
  .services-card {
    margin-left: -2.5rem;
  }
  .card {
    width: 280px;
    height: 200px;
  }
  .card p {
    font-size: 1.4rem;
    width: 180px;
  }
  .card h2 {
    font-size: 1.8rem;
  }
  .card i {
    font-size: 2.8rem;
  }
}
/* End Our Service Responsive */
